
.prevArrow, .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    opacity: .5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.prevArrow:hover, .nextArrow:hover {
    opacity: .6;
}

.prevArrow {
    left: 10px;
}

.nextArrow {
    right: 10px;
}
