@use '@styles/variables' as *;

.main {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
  }

  .mainBlock {
    display: flex;

    .contactsAndAdress {
      display: flex;
      flex-direction: column;

      justify-content: space-between;
      margin-right: 30px;

      .contacts {
        p {
          font-size: 1.2rem;
        }
      }

      .address {
        h2 {
          font-weight: 500;
          margin-bottom: 5px;
          color: $primary-color;
          font-size: 1.2rem;
        }

        margin-bottom: 25px;
      }
    }
  }
}

.formContainer {
  display: flex;
  gap: 40px;
  margin: 20px auto;
  box-shadow: $shadow;
  border-radius: 15px;

  .formImg {
    position: relative;
    width: 50%;
  }
}

.workhours {
  font-size: 1.4rem;
  padding-top: 35px;
  padding-bottom: 45px;

  text-align: center;
  position: relative;
}

.workhours::after {
  content: '';
  display: block;
  width: 160px;
  height: 2px;
  background-color: $primary-color;
  margin: 10px auto 0;
}

@media (max-width: 900px) {
  .formContainer {
    width: 600px !important;
    .formImg {
      display: none;
    }
  }

  .mainBlock {
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;

    .contacts {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 650px) {
  .formContainer {
    width: 100% !important;
    gap: 40px;
    height: fit-content !important;
    .formImg {
      display: none;
    }
  }
}

.yandexMap iframe {
  width: 100%;
  min-width: 600px;
  height: 400px;
}

@media (max-width: 650px) {
  .yandexMap iframe {
    height: 300px; /* меньшая высота на мобильных */
    min-width: 300px;
  }
}

@media (max-width: 480px) {
  .yandexMap iframe {
    height: 250px; /* еще меньшая высота на маленьких экранах */
  }
}
