@use '@styles/variables' as *;

.contactsContainer {
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  gap: 40px;
  margin: 20px auto;
  box-shadow: $shadow;
  border-radius: 15px;

  .formImg {
    position: relative;
    width: 50%;
  }
}

.workhours {
  font-size: 1.4rem;
  padding: 45px;
  text-align: center;
  position: relative;
}

.workhours::after {
  content: '';
  display: block;
  width: 160px;
  height: 2px;
  background-color: $primary-color;
  margin: 10px auto 0;
}

@media (max-width: 900px) {
  .formContainer {
    width: 600px !important;
    .formImg {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .formContainer {
    width: 100% !important;
    gap: 40px;
    height: fit-content !important;
    .formImg {
      display: none;
    }
  }
}
