$primary-color: #002F6C;
$secondary-color: #001F48;
$tertiary-color: #001F4880;
$light-gray-color: #E8E8E8;
$white-text: white;
$dark-text: #1A1A1D;
$shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.205);