<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www\.karayaka\.ru$ [NC]
  RewriteRule ^(.*)$ https://karayaka.ru/$1 [R=301,L]
  
  RewriteCond %{THE_REQUEST} /index\.html [NC]
  RewriteRule ^index\.html$ / [R=301,L]
</IfModule>