@use '@styles/variables' as *;
.formContainer {
  display: flex;
  gap: 40px;
  margin: 40px auto 0 auto;
  box-shadow: $shadow;
  border-radius: 15px;

  .formImg {
    position: relative;
    width: 50%;
  }
}

.workhours {
  font-size: 1.4rem;
  padding: 45px;
  text-align: center;
  position: relative;
}

.workhours::after {
  content: '';
  display: block;
  width: 160px;
  height: 2px;
  background-color: $primary-color;
  margin: 10px auto 0;
}

@media (max-width: 900px) {
  .formContainer {
    width: 650px !important;
    .formImg {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .formContainer {
    width: 100% !important;
  }
}

.offerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  .date {
    margin: 10px 0;
    color: $gray-color;
  }

  .timeline {
    font-family: inherit;
  }
  .clock {
    color: $primary-color;
  }
  h1 {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }

  .intro {
    margin-bottom: 32px;

    p {
      margin-bottom: 16px;
    }
  }

  .stageBlock {
    .customSteps {
      :global(.ant-steps-item) {
        padding-bottom: 16px;
      }
    }

    .description {
      margin-bottom: 15px;
      font-size: 1rem;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }

    .documentTitle {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      svg {
        margin-right: 5px;
      }
    }

    .step {
      margin: 8px 0;
      padding-left: 10px;
    }

    .documents {
      margin-top: 16px;
      padding: 16px 0;
      border-radius: 8px;

      h3 {
        font-weight: 500;
      }

      ul {
        margin: 0;
        padding-left: 20px;
      }

      ul,
      p {
        margin-left: 3px;
      }
    }

    .note {
      margin: 16px 0;
      padding: 12px;
      background: $light-blue-color;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .commonDocs {
    margin-bottom: 32px;

    h2 {
      font-size: 1.3rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 16px;

      th,
      td {
        padding: 12px;
        border: 1px solid #eee;
        text-align: left;
      }

      th {
        background: $light-blue-color;
      }
    }
  }

  .citizenshipNote {
    padding: 24px;
    background: $light-blue-color;
    border-radius: 8px;
    margin-bottom: 32px;

    h2 {
      margin-bottom: 16px;
      font-size: 1.3rem;
    }

    ul {
      margin: 16px 0;
      padding-left: 20px;
    }
  }
}
