@use '@styles/variables' as *;
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sloganBlock {
    width: 100%;
    max-width: 1700px;

    height: 380px;
    position: relative;
    margin-bottom: 30px;

    .breadcrumbs {
      position: absolute;
      top: 0px;
      left: 250px;
    }

    .slogan {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 80px;
      left: 250px;
      text-align: left;
      p {
        user-select: none;
        text-transform: uppercase;
        color: $white-text;
        font-size: 2.5rem;
      }
    }
  }

  .mainInfo.about {
    padding: 0 !important;
    box-shadow: none;

    h1 {
      text-wrap: nowrap;
    }
  }

  .mainList {
    margin: 30px 0;

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;

        &:last-child {
          grid-column: 2;
        }

        .icon {
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .text {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }

    @media (max-width: 768px) {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 480px) {
      .grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  .mainInfo.advantages {
    box-shadow: none;

    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-wrap: nowrap;
      font-weight: 600;
    }
  }

  .mainInfo.founder {
    justify-content: space-around;

    padding: 0 !important;
    box-shadow: none;
    margin-top: 30px;

    margin-bottom: 60px;
    display: flex;
    flex-direction: row;

    .founderPhoto {
      border-radius: 3px;
      min-width: 240px;
      height: 280px;
      overflow: hidden;
    }

    .founderInfo {
      margin-left: 40px;
      max-width: 700px;

      h2 {
        display: inline-block;
        font-weight: 500;
        position: relative;
        margin-bottom: 20px;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-color;
        }
      }

      .description {
      }
    }

    img {
      margin-right: 50px;
    }
  }

  .mainInfo.list {
    height: 600px;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;

    .mainList {
      padding: 25px;
    }
  }

  .mainInfo {
    box-shadow: $shadow;
    margin-bottom: 0px;
    line-height: 1.7;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px;

    ul {
      line-height: 1.5;

      li {
        margin-bottom: 10px;

        &::marker {
          color: $primary-color;
        }
      }
    }

    .mainList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    .description {
      margin: 10px 0;
    }
  }
  .closingNote {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1700px;

    font-size: 1.5rem;
    text-align: center;
    background-color: $primary-color;
    color: $white-text;
    padding: 80px 0;
    margin: 0px 0 60px 0;

    span {
      line-height: 2;
      display: block;
      width: 600px;
    }
  }

  .banner {
    position: relative;
    width: 100%;
    max-width: 1700px;
    height: 300px;
    margin-bottom: 60px;
  }

  .statsVisuals {
    display: flex;
    margin: 60px 0;
    justify-content: space-between;
    height: 850px;
    width: 1000px;

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        padding: 40px 20px;
        color: $primary-color;
        text-transform: uppercase;
        border-radius: 15px;
        box-shadow: $shadow;
        text-wrap: wrap;
        width: 400px;
        min-height: 250px;

        h2 {
          font-size: 4rem;
          font-weight: 400;
        }
        p {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }

    .videoContainer {
      display: block;
      border-radius: 15px;
      overflow: hidden;
    }

    .video {
      width: 475px;
      height: 100%;
    }
  }

  .infoBlock {
    width: 1000px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    .faq {
      padding: 20px 40px 20px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      background-color: $primary-color;
      border-radius: 15px;
      color: $white-text;
      box-shadow: $shadow;

      h2 {
        padding-left: 50px;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .faqRow {
        display: flex;
        justify-content: center;
        align-items: center;

        svg.activeIcon {
          opacity: 1 !important;
        }

        button {
          width: 95%;
          color: $white-text;
          border: 2px solid $dark-text;
          border-radius: 15px;
          background-color: #012047;
          padding: 5px 8px;
          text-align: left;
          cursor: pointer;

          &.activeButton {
            outline: 2px solid $white-text;
          }
        }
      }
    }

    .answerBlock {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 55%;
      border-radius: 15px;
      box-shadow: $shadow;
      h2 {
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: 500;
        color: $primary-color;
      }
    }
  }

  .workhours {
    font-size: 1.4rem;
    padding-top: 50px;
    padding-bottom: 40px;

    text-align: center;
    position: relative;
  }

  .workhours::after {
    content: '';
    display: block;
    width: 160px;
    height: 2px;
    background-color: $primary-color;
    margin: 10px auto 0;
  }
}

@media (max-width: 1280px) {
  .main {
    .sloganBlock {
      width: 100%;

      .breadcrumbs,
      .slogan {
        left: 100px;
      }
    }

    .mainInfo {
      width: 100% !important;
    }

    .banner {
      margin-bottom: 50px;
    }

    .statsVisuals {
      width: 100%;
      .stats {
        flex: 1 1 auto;
        section {
          width: 80%;

          h2 {
            font-size: 4rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
      .video {
        object-fit: cover;
      }
    }

    .infoBlock {
      width: 100%;

      .faq {
        padding: 20px 40px 30px 0px;
        gap: 10px;
        width: 60%;
      }

      .answerBlock {
        width: 40%;
      }
    }
  }
}

@media (max-width: 950px) {
  .breadcrumbs,
  .slogan {
    left: 55px !important;
  }
}

@media (max-width: 900px) {
  .mainInfo.founder {
    .founderPhoto {
      height: 100% !important;
    }

    .founderInfo {
      margin: 20px 0;

      h2 {
        text-align: left;
        font-size: 1.3rem;
      }
    }
  }
  .main {
    .mainInfo {
      width: 100% !important;
      box-shadow: none !important;
      padding: 20px;
      margin-bottom: 0px !important;
      height: 100% !important;

      h1 {
        margin-bottom: 10px;
      }

      h2 {
        text-align: center;
      }
    }

    .banner {
      height: 300px;
      margin-bottom: 35px;
    }

    .statsVisuals {
      width: 100%;

      .stats {
        section {
          padding: 10px;

          h2 {
            font-size: 3.5rem;
          }
          p {
            font-size: 1.4em;
          }
        }
      }
    }

    .infoBlock {
      flex-direction: column;
      width: 100%;

      .faq {
        border-radius: 2px;
        flex-direction: column;
        width: 100%;

        h2 {
          font-size: 2rem;
        }
      }

      .answerBlock {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
      }
    }

    .closingNote {
      margin: 0 !important;
      padding-top: 30px !important;
      background-color: inherit !important;
      color: inherit !important;
    }
  }
}

@media (max-width: 800px) {
  .mainInfo.founder {
    flex-direction: column !important;

    .founderPhoto {
      img {
        margin: 0 !important;
      }
    }

    .founderInfo {
      margin-left: 0 !important;
    }
  }

  .mainInfo.advantages {
    h2 {
      text-wrap: wrap !important;
    }
  }
}

@media (max-width: 600px) {
  .mainInfo {
    height: 100% !important;
    padding: 15px !important;

    .mainList {
      padding: 10px 0 !important;
    }

    h2 {
      font-size: 1.4rem !important;
    }
  }

  .breadcrumbs,
  .slogan {
    left: 30px !important;
  }

  .statsVisuals {
    width: 90%;
    flex-wrap: wrap;
    height: 100% !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
    justify-content: center !important;

    .stats {
      height: 100%;
      align-items: center;
      margin-bottom: 20px !important;

      section {
        margin-bottom: 25px;
        width: 100% !important;
        max-width: 390px;
        min-height: 90% !important;
      }
    }

    .video {
      height: 100%;
    }
  }

  .closingNote {
    padding: 0 !important;
    padding-bottom: 30px !important;
    margin-top: 0 !important;

    span {
      width: 100%;
      margin: 0 30px;
      background-color: inherit !important;
      color: inherit !important;
    }
  }

  .infoBlock {
    gap: 15px !important;

    .faq {
      width: calc(100% + $tablet-goriz-padding * 2) !important;
      margin-left: calc(-1 * $tablet-goriz-padding);
      padding-right: 10px !important;
    }
    .answerBlock {
      padding: 0 !important;
    }
  }
}

@media (max-width: 500px) {
  .faq {
    max-width: calc(100% + $mobile-goriz-padding * 2) !important;
    margin-left: calc(-1 * $mobile-goriz-padding) !important;
    // margin-left: calc(-1 * $mobile-goriz-padding) !important;
  }
}
