@use "@styles/variables" as *;
.main{
  display: flex;
  flex-direction: column;
  align-items: center;

  .sloganBlock{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 70px;
    .slogan{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50px;
      left: 70px;
       p{
        user-select: none;
        text-transform: uppercase;
        color: $white-text;
        font-size: 2.5rem;
        }
    }
  }

    header{
      width: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      border-radius: 15px; 
      box-shadow: $shadow;  
      margin-bottom: 60px;
      h1{
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
    .banner{
      position: relative;
      width: 100%;
      height: 300px;
      margin-bottom: 60px,
    }

    .stats{
      width: 1000px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      margin-bottom: 60px;
      section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        color: $primary-color;
        text-transform: uppercase;
        border-radius: 15px; 
        box-shadow: $shadow; 
        h2{
          font-size: 4rem;
          font-weight: 400;
        } 
        p{
          font-size: 1.5rem;
        }
      }
    }

    .infoBlock{
      width: 1000px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      gap: 30px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px;

      .faq{
          padding: 20px 40px 20px 0px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 50%;
          background-color: $primary-color;
          border-radius: 15px;   
          color: $white-text;
          box-shadow: $shadow; 

              h2{
                  padding-left: 50px;
                  font-size: 2.5rem;
                  font-weight: 400;
                  margin-bottom: 10px;
              }
              .faqRow{
                display: flex;
                justify-content: center;
                align-items: center; 

                svg.activeIcon{
                    opacity: 1 !important;
                }

                button{

                  width: 95%;
                    color: $white-text;
                    border: 2px solid $dark-text;
                    border-radius: 15px;
                    background-color: #012047;
                    // margin-bottom: 10px;
                    padding: 5px 8px;
                    text-align: left;
                    cursor: pointer;

                    &.activeButton{
                      outline: 2px solid $white-text;
                      // &.activeButton::before{
                        
                      //   content: "> "
                      // }
                    }
                }
            }
              
      }
      
      .answerBlock{
          display: flex;
          flex-direction: column;
          padding: 20px;
          width: 55%;  
          border-radius: 15px; 
          box-shadow: $shadow; 
          h2{
            margin-bottom: 15px;
            font-size: 1.6rem;
            font-weight: 500;
            color: $primary-color;
          }
      }

}
}