@use '@styles/variables' as *;
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sloganBlock {
    width: 100%;
    max-width: 1700px;

    height: 500px;
    position: relative;
    z-index: 10;

    .imageText {
      backdrop-filter: brightness(75%);

      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      padding: 0 30px;

      width: 100%;

      .breadcrumbs {
        position: absolute;
        left: 250px;
      }

      .slogan {
        position: absolute;
        top: 60px;

        left: 250px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: 500;

        p {
          margin-top: 10px;
          user-select: none;
          text-transform: uppercase;
          color: $white-text;
          font-size: 3rem;
        }
      }
    }
  }

  .mainInfo.about {
    margin: 40px 0;
    h1 {
      text-wrap: nowrap;
    }
  }

  .mainInfo.advantages {
    margin: 60px 0;

    .mainList {
      margin-top: 20px;
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 12px;

          &:last-child {
            grid-column: 2;
          }

          .icon {
            flex-shrink: 0;
            margin-bottom: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .text {
            font-size: 16px;
            line-height: 1.4;
          }
        }
      }

      @media (max-width: 768px) {
        .grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (max-width: 480px) {
        .grid {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }
    }

    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
      text-wrap: nowrap;
      font-weight: 400;
    }
  }

  .mainInfo.founder {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 100px;

    .founderPhoto {
      flex-shrink: 0;
      width: 240px;
      overflow: hidden;
      height: 320px;
      border-radius: 2px;

      img {
        border-radius: 2px;
      }
    }

    .founderInfo {
      margin-left: 40px;
      max-width: 700px;

      h2 {
        display: inline-block;
        font-weight: 500;
        position: relative;
        margin-bottom: 20px;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-color;
        }
      }

      .description {
      }
    }

    img {
      margin-right: 50px;
    }
  }

  .mainInfo {
    margin-bottom: 0px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .closingNote {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1700px;
    font-size: 1.5rem;
    text-align: center;
    background-color: $primary-color;
    color: $white-text;
    margin-top: 20px;

    margin-bottom: 60px;
    padding: 60px 0;

    span {
      line-height: 2;
      display: block;
      width: 600px;
    }
  }

  .banner {
    position: relative;
    width: 100%;
    max-width: 1700px;
    height: 300px;
    margin: 80px 0;
  }

  .statsVisuals {
    display: flex;
    justify-content: space-between;
    height: 850px;

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        padding: 40px 20px;
        color: $primary-color;
        text-transform: uppercase;
        border-radius: 15px;
        box-shadow: $shadow;
        text-wrap: wrap;
        width: 400px;
        min-height: 250px;

        h2 {
          font-size: 4rem;
          font-weight: 400;
        }
        p {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }

    .videoContainer {
      display: block;
      border-radius: 15px;
      overflow: hidden;
    }

    .video {
      width: 475px;
      height: 100%;
    }
  }

  .infoBlock {
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 70px;

    .faq {
      min-width: 100%;

      .customCollapse :global(.ant-collapse-header) {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .customCollapse :global(.ant-collapse-header-text) {
        padding-top: 1px;
      }

      .customCollapse :global(.ant-collapse-expand-icon) {
        min-width: 32px;
      }

      .customCollapse {
        width: 100%;
        background-color: $white-text;
        border-color: $primary-color;
        font-family: inherit;

        div > div > span {
          font-size: 1.2rem !important;
          color: $secondary-color;
        }

        p {
          font-size: 16px;
        }
      }

      h2 {
        padding: 20px;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  .workhours {
    font-size: 1.4rem;
    margin-top: 80px;
    margin-bottom: 60px;

    text-align: center;
    position: relative;
  }

  .workhours::after {
    content: '';
    display: block;
    width: 160px;
    height: 2px;
    background-color: $primary-color;
    margin: 10px auto 0;
  }
}

@media (max-width: 1280px) {
  .main {
    .sloganBlock {
      width: 100%;

      .breadcrumbs,
      .slogan {
        left: 100px;
      }
    }

    .mainInfo {
      width: 100% !important;
    }

    .banner {
      margin-bottom: 50px;
    }

    .statsVisuals {
      width: 100%;
      .stats {
        flex: 1 1 auto;
        section {
          width: 80%;

          h2 {
            font-size: 4rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
      .video {
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 950px) {
  .breadcrumbs,
  .slogan {
    left: 55px !important;
  }
}

@media (max-width: 900px) {
  .about {
    margin: 20px 0 !important;
  }
  .advantages {
    margin: 20px 0 !important;
  }
  .founder {
    margin-top: 30px !important;
  }
  .founderInfo {
    margin-top: 40px;
    h2 {
      text-align: left;
      font-size: 1.3rem;
    }
  }
  .main {
    .mainInfo {
      width: 100% !important;
      height: 100% !important;

      h1 {
        margin-bottom: 10px;
      }

      h2 {
        text-align: center;
      }
    }

    .banner {
      height: 300px;
      margin-top: 30px;
    }

    .statsVisuals {
      width: 100%;

      .stats {
        section {
          padding: 10px;

          h2 {
            font-size: 3.5rem;
          }
          p {
            font-size: 1.4em;
          }
        }
      }
    }

    .infoBlock {
      flex-direction: column;
      width: 100%;
      margin-bottom: 40px;

      .faq {
        border-radius: 2px;
        flex-direction: column;
        width: 100%;

        h2 {
          font-size: 2rem;
        }
      }

      .answerBlock {
        border-radius: 0;
        width: 100%;
      }
    }

    .closingNote {
      padding: 40px !important;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 800px) {
  .mainInfo.founder {
    flex-direction: column !important;

    .founderPhoto {
      img {
        margin: 0 !important;
      }
    }

    .founderInfo {
      margin-left: 0 !important;

      h2 {
        text-align: center;
      }
    }
  }

  .mainInfo.advantages {
    h2 {
      text-wrap: wrap !important;
    }
  }
}

@media (max-width: 600px) {
  .mainInfo {
    height: 100% !important;
    padding: 15px !important;

    .mainList {
      padding: 10px 0 !important;
    }

    h2 {
      font-size: 1.4rem !important;
    }
  }

  .breadcrumbs,
  .slogan {
    left: 30px !important;
  }

  .statsVisuals {
    width: 90%;
    flex-wrap: wrap;
    height: 100% !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
    justify-content: center !important;

    .stats {
      height: 100%;
      align-items: center;
      margin-bottom: 20px !important;

      section {
        margin-bottom: 25px;
        width: 100% !important;
        max-width: 390px;
        min-height: 90% !important;
      }
    }

    .video {
      height: 100%;
    }
  }

  .closingNote {
    padding: 0 !important;
    padding-bottom: 30px !important;
    margin-top: 0 !important;

    span {
      width: 100%;
      margin: 0 30px;
      background-color: inherit !important;
      color: inherit !important;
    }
  }

  .infoBlock {
    .customCollapse {
      border: none;
    }
  }
}

@media (max-width: 500px) {
  .faq {
    max-width: calc(100% + $mobile-goriz-padding * 2) !important;
    margin-left: calc(-1 * $mobile-goriz-padding) !important;
    // margin-left: calc(-1 * $mobile-goriz-padding) !important;
  }
}

@media (max-width: 450px) {
  .founderPhoto {
    height: 100% !important;
    width: 100% !important;

    img {
      height: 100% !important;
      width: 100% !important;
      clip-path: inset(15% 0 0 0) !important;
      transform: scale(1.2) !important;
    }
  }
}
