@use '@styles/variables' as *;

.privacyPolicy {
  color: #000;
  background: #fff;
  max-width: 900px;
  margin: 0 auto;
  position: relative;

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  p:nth-of-type(1) {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 3rem;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    p {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 165px;
    width: 2px;
    background-color: $primary-color;
    height: calc(100% - 175px);
  }
}
