@use '@styles/variables' as *;

.agreement {
  color: #000;
  background: #fff;
  max-width: 900px;
  margin: 0 auto;
  position: relative;

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1rem;
  }

  p:first-of-type {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: right;
  }

  h1 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
  }

  @media (max-width: 600px) {
    p {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 270px;
    width: 2px;
    background-color: $primary-color;
    height: calc(100% - 270px);
  }
}
