.main{
    display: flex;
    justify-content: center;
    align-items: center;
    .formContainer{
        display: flex;
        gap: 40px;
        margin: 40px;
        box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.205);
        border-radius: 15px;
        max-width: 1000px;
        max-height: 800px;
        

            img{
                width: 50%;
                object-fit: cover;
                border-radius: 0px 15px 15px 0px;
            }

        
    }
}
