.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    outline: 1px dashed red;

    .mainImage {
        width: 100vw;
        max-width: 1600px;


        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .info {
        width: 100vw;
        max-width: 1350px;

        margin: 20px;


        
        .description {
            // width: 100%;
            padding: 20px;
            box-shadow: 0 0 4px 1px rgb(146, 146, 146);
            border-radius: 15px;
            margin-bottom: 20px;
        }

        .tags {
            max-width: 500px;
            display: flex;
            flex-wrap: wrap;

            padding: 20px;
            box-shadow: 0 0 4px 1px rgb(146, 146, 146);
            border-radius: 15px;

            gap: 10px;

            .tag {
                padding: 6px;
                border-radius: 10px;

                border: 1px solid red;

            }
        }
    }
}